.newsletter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 140px;
  gap: 30px;
  margin-bottom: 150px;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}
.newsletter h1 {
  color: #454545;
  font-size: 46px;
  font-weight: 600;
}
.newsletter p {
  color: #454545;
  font-size: 20px;
}
.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 70px;
  border: 1px solid #e3e3e3;
}
.newsletter input {
  width: 500px;
  padding: 20px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-size: 16px;
}
.newsletter div button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

@media(max-width:1280px){
  .newsletter {
    height: 35vh;
    padding: 0 80px;
    gap: 25px;
    margin-bottom: 120px;
  }
  .newsletter h1 {
    font-size: 35px;
  }
  .newsletter p {
    font-size: 16px;
  }
  .newsletter div {
    width: 600px;
    height: 60px;
  }
  .newsletter input {
    width: 400px;
    
  }
  .newsletter div button {
    width: 180px;
    height: 60px;
    font-size: 15px;
  }
}

@media(max-width:1024px){
  .newsletter {
    padding: 0 80px;
    gap: 10px;
    margin-bottom: 120px;
  }
  .newsletter h1 {
    font-size: 28px;
  }
  .newsletter p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .newsletter div {
    width: 500px;
    height: 50px;
  }
  .newsletter input {
    width: 400px;
    padding: 10px;
    font-size: 14px;
  }
  .newsletter div button {
    width: 180px;
    height: 50px;
    font-size: 15px;
  }
}
@media(max-width:800px){
  .newsletter {
    width: 75%;
    padding: 0 40px;
    gap: 5px;
    margin-bottom: 70px;
    height: 30vh;
  }
  .newsletter h1 {
    font-size: 20px;
  }
  .newsletter p {
    font-size: 14px;
    margin: 10px 0 20px;
  }
  .newsletter div {
    width: 350px;
    height: 40px;
  }
  .newsletter input {
    width: 350px;
    padding: 8px;
    font-size: 13px;
    margin-left: 15px;
  }
  .newsletter div button {
    width: 180px;
    height: 40px;
    font-size: 14px;
  }
}